width {
  width: 18rem;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
}

.border-3 {
  border-width:8px !important;
}
.navbar-custom {
  background-color: #191633;
}

.DD {
  background-image: url(./DD.jpg);
}

.textcolor {
  color: aliceblue;
}

span#et-info-phone:before { 
  font-family: FontAwesome !important;
  content: '10b' !important;
}

.box {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: transparent;
  border-color: rgb(69, 117, 172);
  background: transparent;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: rgb(69, 117, 172) !important;
}